<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Euphoria+Script" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>
  <title>QueryMe</title>
</head>
<body>
  <div class="ui borderless menu">
    <a class="item logo">QueryMe</a>
    <div class="right menu">
    <a class="item" target="_blank" href="https://github.com/lajansaa/query-me">Github Repo</a>
    {{#if user.loggedIn}}
    <div class="ui dropdown item">
      <i class="fas fa-cog"></i><span class="user-name">{{user.name}}</span> <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">
          <form method="post" action="/users/logout" class="inline">
            <button type="submit" name="submit" class="link-button">
              Logout
            </button>
          </form>
        </a>
      </div>
    </div>
    {{else}}
      <a class="item" href="/users/login"><i class="fas fa-user"></i>Login</a>
      <a class="item" href="/users/new">Request Access</a>
    {{/if}}
    </div>
  </div>
  {{#if user.loggedIn}}
    <div class="main-content">
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui vertical fluid tabular menu">
            <a class="item" href="/categories">Report Categories</a>
            <a class="item" href="/users/favourite">Favourites</a>
            {{#if (equate user.role "admin")}}
              <a class="item" href="/admin">Control Panel</a>
            {{/if}}
          </div>
        </div>
        <div class="twelve wide stretched column">
          <div class="ui segment">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="authentication-wrapper">
      {{{body}}}
    </div>
  {{/if}}
</body>
</html>