<p id="report-id" style="display:none">{{id}}</p>
<div class="ui form">
  <div class="field">
    <input id="report-title" value="{{title}}">
  </div>
  <div class="field">
    <textarea rows="4" id="report-description">{{description}}</textarea>
  </div>
</div>
Category: <select class="ui dropdown">
    <option value="{{category_id}}">{{category_title}}</option>
  {{#each category}}
    <option value="{{this.id}}">{{this.title}}</option>
  {{/each}}
</select>
Created By: <select class="ui dropdown">
    <option value="{{user_id}}">{{user_name}}</option>
  {{#each user}}
    <option value="{{this.id}}">{{this.name}}</option>
  {{/each}}
</select>
<div id="editor">{{query}}</div>

<button id="report-save" class="ui primary button" type="submit">Save</button>
<form method="GET" action="/reports/{{id}}">
  <button class="ui button" type="submit">Cancel</button>
</form>

<script>
  window.onload = function() {
    const editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/sql");
    document.getElementById('editor').style.fontSize='16px';
    
    $("#report-save").on('click', () => {
      $.ajax({
        method: "PUT",
        url: "edit?_method=PUT",
        data: { id: parseInt($("#report-id").html()),
                title: $("#report-title").val(),
                description: $("#report-description").val(),
                category_id: $('.dropdown option:selected').val(),
                query: editor.getValue()
              }
      }).done( () => {
          window.location = '/reports/' + parseInt($("#report-id").html())
      });
    })
  }
</script>