<p id="report-id" style="display:none">{{id}}</p>
<p><input id="report-title" value="{{title}}"></p>
<p><input id="report-description" value="{{description}}"></p>
<div id="editor">{{query}}</div>

<button id="report-save" class="ui primary button" type="submit">Save</button>
<form method="GET" action="/reports/{{id}}">
  <button class="ui button" type="submit">Cancel</button>
</form>

<script>
  window.onload = function() {
    const editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/sql");
    document.getElementById('editor').style.fontSize='16px';
    
    $("#report-save").on('click', () => {
      $.ajax({
        method: "PUT",
        url: "edit?_method=PUT",
        data: { id: parseInt($("#report-id").html()),
                title: $("#report-title").val(),
                description: $("#report-description").val(),
                query: editor.getValue()
              }
      }).done( () => {
          window.location = '/reports/' + parseInt($("#report-id").html())
        });


      // const params = "id=" + parseInt($("#report-id").html()) + "&title=" + $("#report-title").val() + "&description=" + $("#report-description").val() + "&query=" + editor.getValue();
      // request = new XMLHttpRequest();
      // request.open('PUT', 'edit?_method=PUT');
      // //Send the proper header information along with the request
      // request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      // request.send(params);
    })
  }
</script>