<h2>{{metadata.title}}</h2>

{{#if (equate metadata.favourite 0)}}
  <div class="ui large star rating" data-max-rating="1"></div>
{{else}}
  <div class="ui large star rating" data-rating="1" data-max-rating="1"></div>
{{/if}}

<h3>{{metadata.description}}</h3>

{{#if error}}
  <p class="error-message">{{errorMessage}}</p>
  <div class="ui positive message hidden">
    <p>Email has been sent!</p>
  </div>
  <button class="ui primary button notify-author">Notify Author</button>
{{else}}
  <p>{{{tabulate data}}}</p>
{{/if}}

{{#if (equate user.role "admin")}}
<form method="GET" action="/reports/{{metadata.id}}/edit">
  <button class="ui primary button">Edit</button>
</form>
{{/if}}

{{#if (not error) }}
<form method="POST" action="/reports/{{metadata.id}}/download">
  <button class="ui button">Download as Excel</button>
</form>
{{/if}}

<script>
  window.onload = function() {
    $('.ui.dropdown').dropdown();
    $('.ui.rating').rating();
    $('.ui.rating').rating('setting', 'onRate', (value) => {
      $.ajax({
        method: "PUT",
        url: window.location + "/favourite?_method=PUT",
        data: { rating: value }
      })
    })
    $('.notify-author').on('click', function(event) {
        event.preventDefault();
        $('.ui.positive.message').removeClass('hidden').addClass('visible');
        $.ajax({
          method: "POST",
          url: window.location + "/notify-author",
          data: { error: $('.error-message').html() }
        })
    })
  }
</script>