<h2>{{metadata.title}}</h2>
<h3>{{metadata.description}}</h3>

{{#if error}}
  <p class="error-message">{{errorMessage}}</p>
{{else}}
  <p>{{{tabulate data}}}</p>
{{/if}}

<form method="GET" action="/reports/{{metadata.id}}/edit">
  <button class="ui primary button">Edit</button>
</form>

<form method="POST" action="/reports/{{metadata.id}}/download">
  <button class="ui button">Download as Excel</button>
</form>



