<h2>{{metadata.title}}</h2>
<div class="ui large star rating" data-max-rating="1"></div>
<h3>{{metadata.description}}</h3>

{{#if error}}
  <p class="error-message">{{errorMessage}}</p>
{{else}}
  <p>{{{tabulate data}}}</p>
{{/if}}

<form method="GET" action="/reports/{{metadata.id}}/edit">
  <button class="ui primary button">Edit</button>
</form>

<form method="POST" action="/reports/{{metadata.id}}/download">
  <button class="ui button">Download as Excel</button>
</form>

<script>
  window.onload = () => {
    // $('.ui.rating').rating('setting', 'onRate', (value) => {
    //   $.ajax({
    //     method: "PUT",
    //     url: "favourite?_method=PUT",
    //     data: { rating: value }
    //   })
    // })
  }
</script>